---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="container">
		<Header title={SITE_TITLE} />
		<main>
			<h1>About me</h1>
			<p>
				My name is Nikolaj Agri Kristensen. I'm a software engineer from Denmark, working at IT Minds.
			</p>
			<p>
				I have a lot of experience working with <strong>Dart</strong> and <strong>Flutter</strong>, but I have recently been working with different web frameworks, like React and Astro.
			</p>
		</main>
		<Footer />
	</body>
</html>
