---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href } = Astro.props;

const { pathname } = Astro.url;

const isActive = href === pathname || href === pathname.replace(/\/$/, '');

---

<a role="button" href={href} class={isActive ? "" : "secondary"}>
	<slot />
</a>
